body {
    background-color: rgb(240, 242, 244);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px; /* Adjust as needed */
    padding-top: 50px; /* Adjust as needed */
  }
  
  table {
    top: 10px;
    left: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    height:max-content;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  tr, td {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    width: 10%;
    padding: 10px;
    margin:auto;
    text-align: left;
    border-spacing: 20px;
  }
  
  
  
  
  
  
  